/2project.css
/2project.html
/a.cpp
/a.exe
/anant.css
/anant.html
/anant.js
/anant1.jpeg
/anantcss.html
/AnimeX_905239.jpeg
/borders.html
/boxmodel.css
/boxmodel.html
/developerstools.html
/firefox-icon.png
/html.html
/javascript.html
/michal-parzuchowski-dmH3NWhYTHQ-unsplash.jpg
/navigationmenu.css
/navigationmenu.html
/newproject.css
/newproject.html
/people_counter.css
/people_counter.html
/people_counter.js
/Screenshot 2022-04-20 215803.png
/style.css
/tempCodeRunnerFile.cpp
/variables.html